ul {
    list-style-type: none;
    margin: 0;
    padding: 0;
    overflow: hidden;
}
ul > .five{
    float: left;
    width: 100px;
    text-align: center;
}
ul > .two{
    float: left;
    width: 300px;
}

ul > .ten{
    float: left;
    width: 54px;
    text-align: center;
}

.left {
    text-align: left;
}

.right {
    text-align: right;
}

.radio{
    width: 50px;
}