body {
    margin: 0;
    padding: 0;
}

img {
    display: block;
    margin: 0 auto;
}

.grid-container {
  display: grid;
  grid-template-columns: 100px auto 100px;
  grid-template-rows: 100%;
  grid-gap: 10px;
  background-color: #2196F3;
}
.grid-container > div {
  background-color: rgba(255, 255, 255, 0.8);
}