ul {
    list-style-type: none;
    margin: 0;
    padding: 0;
    overflow: hidden;
}
ul > .five{
    float: left;
    width: 100px;
    text-align: center;
}
ul > .two{
    float: left;
    width: 300px;
}

.left {
    text-align: left;
}

.right {
    text-align: right;
}