body {
    margin: 0;
    padding: 0;
}
#timer {
    position: absolute;
    right: 0px;
    top: 0px;
    z-index: 5;
    padding: 10px;
    font-size: 60px;
    color: red;
    font-family: Arial;
}
#stream {
    margin-top: 20px;
    display: block;
    height: auto;
    margin-left: auto;
    margin-right: auto;
    transform: rotate(180deg);
    z-index: 1;
}

#overlay {
    position: absolute;
    z-index: 2;
    top: 20px;
}