body {
    margin: 0;
    padding: 0;
}
#timer {
    position: absolute;
    right: 0px;
    top: 0px;
    z-index: 5;
    padding: 10px;
    font-size: 60px;
    color: red;
    font-family: Arial;
}
img {
    display:block;
    transform: rotate(180deg);
    margin: 20px auto;
}